@media all and (min-width: 370px){

    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html {
    max-width: 100% !important;
    overflow-x: hidden !important;
    }

body{
    margin: 0;
    background-color: #fff;
    max-width: 100% !important;
    overflow-x: hidden !important;

}

/*  SECCION MENU */
#navegador {
    padding: 0px;
}
.container-fluid {
    background-color: #313640;
    color: #fff;
}
/* SECCION BANNER */
.banner{
    color: #fff;
    background-image: url(./banner\ funkos.png);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 400px;
    box-shadow: inset 0 0 0 2000px rgb(137 133 133 / 57%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shopBanner a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-top: 20px;
    color: #fff;
    border: solid;
    border-width: 1px;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 50px;
    text-align: center;
    width: 200px;
    background-color: #ffffffac;
}
    
/* seccion muñecos */
#containerColecciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px 20px 0px 20px;
}

.muñecoColeccion img{
    width: 150px;
    height: 150px;
    margin-top: 50px;

}

.textoMuñeco h4{
    font-weight: bold;
    color: black;
}

.verColeccion a{
    border: solid;
    border-width: 1px;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 30px;
    text-align: center;
    width: 200px;
    background-color: #ffffffac;
    color: #fff;
    background-color: black;
}

/* seccion Ultimos lanzamientos */
.ultimosLanzamientos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;

}
.ultimosLanzamientos h2{
    font-weight: bold;
}



.card{
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
}


.card img{
    width: 150px;
    height: 150px;

}
.nuevo{
    border: solid;
    border-width: 1px;
    text-decoration: none;
    text-align: center;
    width: 70px;
    background-color: #ffffffac;
    color: #fff;
    background-color: rgb(246, 7, 7);
    border-radius: 20px;
    display: flex;
    padding: 5px;
}

/* seccion Footer */

#containerFooter{
    background-color: #313640;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-Nav{
    text-align: center;
}

.menu-Footer a{
    text-decoration: none;
    color: #fff;
    
}

.menu-Footer{
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 40px;
    list-style: none;
    text-align: initial;
    

}


























}



