@media all and (min-width: 300px){

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html {
    max-width: 100% !important;
    overflow-x: hidden !important;
    }

body{
    margin: 0;
    background-color: #fff;
    max-width: 100% !important;
    overflow-x: hidden !important;

}

/*  SECCION MENU */
#navegador {
    padding: 0px;
}
.container-fluid {
    background-color: #313640;
    color: #fff;
}

/* SECCION BANNER */
.banner{
    color: #fff;
    background-image: url(./banner\ funkos.png);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 400px;
    box-shadow: inset 0 0 0 2000px rgb(137 133 133 / 57%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shopBanner a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-top: 20px;
    color: #fff;
    border: solid;
    border-width: 1px;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 50px;
    text-align: center;
    width: 200px;
    background-color: #ffffffac;
}

/* seccion coleccion SW */

.containerMuñecosSW{
    display: grid;
    gap: 70px;   
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 250px 250px 250px;
    row-gap: 30px;
    text-align: center;
}

.containerMuñecosSW img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

}